.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: var(--primary-color);

  margin: 0 auto;
}
:root {
  --primary-color: #0a0f0d;
  --secondary-color: #fca311;
  --tretary-color: white;
}
button {
  padding: 0.2rem 2rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.5rem;
  border: 3px solid var(--secondary-color);
  font-size: 1rem;
}
h1,
label {
  color: var(--secondary-color);
}
label,
input {
  display: block;
  margin: 1rem auto;
}
label {
  font-size: 1rem;
}
input {
  font-size: 18px;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--tretary-color);
}
